[Unit]
  Description=Recording from an IP camera @Neosy
  After=syslog.target network.target
  After=nmount-nfs.service
  Requires=nmount-nfs.service

[Service]
  User=
  Group=
  ExecStart=/usr/local/bin/sh_n/nvcam.sh
  ExecReload=/bin/kill -s HUP $MAINPID
  ExecStop=/bin/kill -s QUIT $MAINPID
  Type=simple
  Restart=on-failure
  RestartSec=10
  TimeoutStopSec=5

[Install]
  WantedBy=multi-user.target
